body {
    background: rgba(206, 232, 241, 0.712);
}

.bg-white {
    box-shadow: 0 0 10px rgba(234, 234, 234, 0.1) !important;
    background-color: #ffffffaa !important;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

h4 {
    font-size: 15px;
}

.error {
    color: red !important;
    font-size: 14px !important;
}